@import '../../../../../dist/scss/variables.scss';

.sub-title {
    text-align: center;
    font-family: $font-family;
    color: $font-primary-color;
}

.container {
    background-color: aquamarine;
    
    margin: 10px auto;
    padding: 10px;

    max-width: 330px;
    height: 350px;
    
    font-family: $font-family;
    
    color: $font-primary-color;
    
    border-color: black;
    border-style: dashed;
}

.loading {
    background-color: #0086d3;
}