<main>
    <h2 class="sub-title">Alguns dos meu projetos</h2>
    <section class="container">
        <img src="#" alt="imagem projeto">
        <h3 class="sub-title">projeto title</h3>
        <p>projeto descrição projeto projeto usei: usei usei usei usei</p>
    </section>
    <section class="container">
        <img src="#" alt="imagem projeto">
        <h3 class="sub-title">projeto title</h3>
        <p>projeto descrição projeto projeto usei: usei usei usei usei</p>
    </section>
    <section class="container">
        <img src="#" alt="imagem projeto">
        <h3 class="sub-title">projeto title</h3>
        <p>projeto descrição projeto projeto usei: usei usei usei usei</p>
    </section>
    <section class="container">
        <img src="#" alt="imagem projeto">
        <h3 class="sub-title">projeto title</h3>
        <p>projeto descrição projeto projeto usei: usei usei usei usei</p>
    </section>
    <section class="container">
        <img src="#" alt="imagem projeto">
        <h3 class="sub-title">projeto title</h3>
        <p>projeto descrição projeto projeto usei: usei usei usei usei</p>
    </section>
</main>