<main id="projects">
    <h1 class="title">projetos</h1>
    <section *ngFor="let project of projectList" class="container">
        <img [src]="project.img" [alt]="project.imgAlt" class="img-project">
        <h3 class="title">{{project.title}}</h3>
        <p class="contain">{{project.about}}</p>
        <article class="buttons-links">
            <a [href]="project.linkWeb" target="_blank" rel="next" class="button">experimente</a><br>
            <a [href]="project.linkGitHub" target="_blank" rel="next" class="button">repositório</a>
        </article>
    </section>
</main>