<header class="header">
        <section class="container">
            <img src="/assets/png/img-logo-576px.png" alt="imagem logo" class="img-logo">
            <span class="name"><a href="./">arthur correia</a></span><br>
        </section>
        <nav class="nav-bar">
            <div>
                <a href="./#cape" class="nav-bar-link">início</a>
            </div>
            <div>
                <a href="./#about" class="nav-bar-link">sobre</a>
            </div>
            <div>
                <a href="./#projects" class="nav-bar-link">projetos</a>
            </div>
            <div>
                <a href="./#contact" class="nav-bar-link">contato</a>
            </div>
        </nav>
</header>