@import '../../../../../dist/scss/variables.scss';

.header {
    background-color: white;
    
    text-align: center;
    padding: 10px;
    min-width: 100vw;
    height: 70px;    
    
    font-family: $font-family;
    color: $font-primary-color;
    font-size: 1em;
}

.nav-bar {
    min-width: 100vw;
    padding: 10px;
    background-color: white;
}

.nav-bar-link {
    color: $font-primary-color;

    text-decoration: none;
    
    margin-right: 10px;
    
    transition-duration: 0.3s;
    
    font-family: $font-family;
    font-weight: 700;
    font-size: 1em;
}

.nav-bar-link:hover {
    color: $font-secondary-color;
}