@import '../../../../../dist/scss/variables.scss';

* {
    font-family: $font-family;
}

.header {
    scroll-behavior: smooth;

    position: fixed;
    z-index: 1000;

    background-color: $color-tertiary;
    box-shadow: $box-shadow-header;

    width: 100%;
    
    color: $font-primary-color;
}

.container {
    display: flex;
    padding: 15px 40px;
    justify-content: space-between;
}

.container-logo {
    display: flex;
    align-items: center;
  
    & a {
        color: $font-primary-color;
        text-decoration: none;

        transition-duration: 0.3s;
    }

    & a:hover {
        color: $color-quaternary;
    }
}

.img-logo {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.nav-bar {
    align-items: center;
    display: flex;

    font-size: 0.9em;
}

.nav-bar-link {
    color: $font-primary-color;

    text-decoration: none;
    text-transform: uppercase;
    
    padding: 0 25px;
    
    transition-duration: 0.3s;
    
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;

    &:hover {
        color: $color-quaternary;
    }
}

.nav-bar-2 {
    display: none;
    padding: 0 10px;
    
    & .nav-bar-button {
        background-color: $color-tertiary;
        outline: none;
        border: none;

        align-items: center;
        color: $color-secondary;

        & > span {
            background-color: #fff;
            padding: 3px;
            border-radius: 50%;

            transition-duration: 0.3s;
            
            &:hover {
                background-color: #11111117;
            }
        }



    }
}

.button-block {
    display: block;
}

.button-none {
    display: none;
}

.nav-bar-list {
    text-align: end;
}

.nav-bar-list-link:first-of-type {
    border-top: 1px solid #eee;
}
  
.nav-bar-list-link {
    display: block;

    padding: 20px 35px;

    border-bottom: 1px solid #eee;
    
    color: $font-primary-color;
    
    text-decoration: none;
    text-transform: uppercase;
    
    transition-duration: 0.3s;
    
    font-weight: bold;
    font-size: 0.9em;

    letter-spacing: 2px;
    
    &:hover {
        color: $color-quaternary;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 8px 20px 8px 10px;
    }

    .container-logo {
        & .img-logo {
            height: 45px;
            width: 45px;
        }

        & .name {
            font-size: 1em;
        }
    }
    
    .nav-bar {
        & .nav-bar-link {
            padding: 0 8px;
            
            font-size: 0.9em;
            font-weight: bold;
        }
    }
}

@media (max-width: 600px) {
    .nav-bar {
        display: none;
    }

    .nav-bar-2 {
        display: flex ;
    }
}