<header class="header">
        <img src="/assets/png/img-logo-576px.png" alt="imagem logo" class="img-logo">
        <section>
            <span class="name">arthur correia</span><br>
            <span class="focus">front-end developer</span>
        </section>
</header>
<nav class="nav-bar">
    <a href="./" class="nav-bar-link">início</a>
    <a href="./#about" class="nav-bar-link">sobre</a>
    <a href="./#projects" class="nav-bar-link">projetos</a>
    <a href="./#contact" class="nav-bar-link">contato</a>
</nav>