<header class="header">
    <section class="container">
        <div class="container-logo">
            <img src="/assets/png/img-logo-576px.png" alt="imagem logo" class="img-logo">
            <span class="name"><a href="./">arthur correia</a></span>
        </div>
        <nav class="nav-bar">
            <div>
                <a href="./#cape" class="nav-bar-link">início</a>
            </div>
            <div>
                <a href="./#about" class="nav-bar-link">sobre</a>
            </div>
            <div>
                <a href="./#projects" class="nav-bar-link">projetos</a>
            </div>
            <div>
                <a href="./#contact" class="nav-bar-link">contato</a>
            </div>
        </nav>
        <nav class="nav-bar-2">
            <button class="nav-bar-button" (click)="displayMenu()">
                <span [ngClass]="{'button-block': !menuOpen, 'button-none': menuOpen}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </span>
                <span  [ngClass]="{'button-block': menuOpen, 'button-none': !menuOpen}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span>
            </button>
        </nav>
    </section>
    <section class="nav-bar-list" [ngStyle]="{'display': display}">
        <div class="nav-bar-list-div">
            <a href="./#cape" class="nav-bar-list-link">início</a>
        </div>
        <div class="nav-bar-list-div">
            <a href="./#about" class="nav-bar-list-link">sobre</a>
        </div>
        <div class="nav-bar-list-div">
            <a href="./#projects" class="nav-bar-list-link">projetos</a>
        </div>
        <div class="nav-bar-list-div">
            <a href="./#contact" class="nav-bar-list-link">contato</a>
        </div>
    </section>
</header>