@import '../../../../../dist/scss/variables.scss';
@import '../../../../../dist/scss/class.scss';

* {
    font-family: $font-family;
}

.div-social {
    position: absolute;
    top: 50%;

    padding: 10px;

    transform: translate(-10%, -50%);

    background-color: $color-tertiary;
    box-shadow: $box-shadow;

    border-radius: 0 7px 7px 0;
}   

.social {
    padding: 5px;

    transition-duration: 0.3s;
    & a {
        color: $color-primary;
        text-decoration: none;

        display: block;
    }
}

.social:hover {
    transform: translateY(-5%);
}

.main-container {
    background-image: $image-background;
    background-position: center;

    height: 100vh;
    padding: 7px;

    position: relative;
}

.container {
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 2.1em;
    font-weight: 800;

    text-align: center;
    text-transform: uppercase;

    color: $font-primary-color;
    text-shadow: $text-shadow;

    margin-bottom: 10px;
}

.contain {
    margin: 20px auto;
    
    text-align: center;
    color: $font-primary-color;
    text-shadow: $text-shadow;
}

.emphasis {
    font-weight: 600;
}

.div-button {
    margin-top: 15px;
    text-align: center;
    & a {
        text-decoration: none;
        color: $font-tertiary-color;
    }
}

@media (max-width: 1150px) {
    .container {
        max-width: 475px;
    }
}

@media (max-width: 680px) {
    .title {
        font-size: 1.7em;
    }
}

@media (max-width: 580px) {
    .title {
        font-size: 1.5em;
    }

    .div-social {
        display: none;
    }
}

@media (max-width: 400px) {
    .contain {
        font-size: 0.9em;
    }
}