<main class="container container_main" id="contact">
    <h1 class="title_main">contato</h1>
    <section class="card">
        <form action="https://api.staticforms.xyz/submit" method="post">
            <article class="article-name">
                <label for="nameId">nome</label>
                <input required type="text" id="nameId" placeholder="Digite Seu Nome" class="input">
            </article>
            <article class="article-email">
                <label for="emailId">email</label>
                <input required type="email" id="emailId" placeholder="exemplo@gmail.com" class="input">
            </article>
            <article class="article-message">
                <label for="messageId">mensagem</label>
                <textarea required class="text-area" id="messageId" cols="30" rows="10" placeholder="Digite Sua Mensagem"></textarea>
            </article>
            <div class="div-button">
                <button type="submit" class="button">enviar</button>
            </div>
                <input type="hidden" name="accessKey" value="b77116fb-8c92-4c60-af46-1a42d341a382">
                <input type="hidden" name="redirectTo" value="index.html">
        </form>
    </section>
</main>