<main class="container container_main" id="contact">
    <h1 class="title_main">contato</h1>
    <div class="divider"></div>
    <span class="describe">{{describe}}</span>
    <section class="card">
        <form [formGroup]="form" (ngSubmit)="submitForm(form)">
            <article class="article-name">
                <label for="nameId">nome</label>
                
                <input type="text" id="nameId" formControlName="name" placeholder="Digite Seu Nome" maxlength="50" 
                [ngClass]="{
                    'input': true, 
                    'invalidInput': form.get('name')?.invalid && (form.get('name')?.dirty && form.get('name')?.touched)
                }">
                
                <span *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty && form.get('name')?.touched)" class="invalidMessage">
                    Campo Inválido
                </span>
            </article>
            <article class="article-email">
                <label for="emailId">email</label>
                
                <input type="email" id="emailId" formControlName="email" placeholder="exemplo@gmail.com" 
                [ngClass]="{
                    'input': true, 
                    'invalidInput': form.get('email')?.invalid && (form.get('email')?.dirty && form.get('email')?.touched)
                }" 
                minlength="10" maxlength="65">
                
                <span *ngIf="
                form.get('email')?.invalid && (form.get('email')?.dirty && form.get('email')?.touched)" 
                class="invalidMessage">
                    Campo Inválido
                </span>
            </article>
            <article class="article-message">
                <label for="messageId">mensagem</label>
                <textarea id="messageId" formControlName="message" cols="30" rows="10" placeholder="Digite Sua Mensagem Aqui" 
                [ngClass]="{
                    'text-area': true, 
                    'invalidInput': form.get('message')?.invalid && (form.get('message')?.dirty && form.get('message')?.touched)}" minlength="1" maxlength="300">
                </textarea>
                
                <span *ngIf="form.get('message')?.invalid && (form.get('message')?.dirty && form.get('message')?.touched)" class="invalidMessage">
                    Campo Inválido
                </span>
            </article>

            <div class="div-button">
                <button type="submit" class="button" [disabled]="form.invalid">enviar</button>
            </div>
        </form>
    </section>
</main>