<main class="container">
    <h1 class="title">contato</h1>
    <section>
        <form action="https://api.staticforms.xyz/submit" method="post">
            <article>
                <label for="name">nome</label>
                <input type="text" id="name" placeholder="Digite seu nome" class="input">
            </article>
            <article>
                <label for="email">email</label>
                <input type="email" id="email" placeholder="exemplo@gmail.com" class="input">
            </article>
            <article>
                <label for="">mensagem</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </article>
            <button type="submit">enviar</button>
            <input type="hidden" name="accessKey" value="b77116fb-8c92-4c60-af46-1a42d341a382">
            <input type="hidden" name="redirectTo" value="index.html">
        </form>
    </section>
</main>