<main class="container">
    <h2 class="sub-title">Olá, me chamo Arthur</h2>
    <p class="contain">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, animi. Dolorum, earum! Libero vero quos porro ex nulla vitae, impedit animi temporibus voluptas sint perferendis asperiores modi, fugiat exercitationem laborum?</p>
    <p class="contain">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga et ratione magni similique placeat dolor deleniti dolores nulla suscipit. Harum pariatur suscipit autem, aperiam nulla qui magni esse debitis.</p>
</main>