@import '../../../../../dist/scss/variables.scss';
@import '../../../../../dist/scss/class.scss';

* {
    font-family: $font-family;
}

.upper-container {
    background-image: $image-background;
    background-position: center;

    height: 82vh;
    padding: 7px;

    position: relative;
}

.container {
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 2.1em;
    font-weight: 800;

    text-align: center;
    text-transform: uppercase;

    color: $font-primary-color;
    text-shadow: $text-shadow;

    margin-bottom: 10px;
}

.contain {
    margin: 20px auto;
    
    text-align: center;
    color: $font-primary-color;
    text-shadow: $text-shadow;
}

.emphasis {
    font-weight: 600;
}

.div-button {
    margin-top: 15px;
    text-align: center;
    & a {
        text-decoration: none;
        color: $font-tertiary-color;
    }
}

.lower-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;

    margin: 70px 20px;
    height: 100vh;

    justify-content: space-between;

    color: $font-primary-color;

    & .sub-title{
        text-transform: uppercase;

        margin-bottom: 20px;
    }
}

.container-about-me {
    line-height: 1.6em;

    color: $font-primary-color;

    // text-align: justify;

    & .button {
        display: block;
        text-decoration: none;
        margin-top: 10px;
        width: 80px;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;

    & .skill {
        font-size: 1em;
        font-weight: 600;
        
        background-color: rgba(153,153,153,.2);
        color: $font-primary-color;
        
        padding: 10px 7px;
        margin: 0 7px 7px 0;
    
        border-radius: 3px;
    }
}

@media (max-width: 1150px) {
    .container {
        max-width: 475px;
    }
}

@media (max-width: 680px) {
    .title {
        font-size: 1.7em;
    }
}

@media (max-width: 580px) {
    .title {
        font-size: 1.5em;
    }

    .lower-container {
        display: block;
        & > .about-me {
            margin-bottom: 70px;
        }
    }
}

@media (max-width: 400px) {
    .contain {
        font-size: 0.9em;
    }
}