<main>
    <section class="upper-container">
        <article class="container">
            <h1 class="title">olá, me chamo arthur correia</h1>
            <p class="contain">Focado em <span class="emphasis">desenvolvimento Web front-end</span>. Possuo conhecimentos em <span class="emphasis">HTML5</span>, <span class="emphasis">CSS3</span>, <span class="emphasis">JavaScript</span>, <span class="emphasis">TypeScript</span>, <span class="emphasis">Angular</span> e <span class="emphasis">SQL com Oracle</span>.</p>
            <div class="div-button">
                <button class="button"><a href="./#projects">projetos</a></button>
            </div>
        </article>
    </section>
    <section id="about" class="">
        <h2>sobre mim</h2>
        <section class="lower-container">
            <article class="about-me">
                <h3 class="sub-title">me conheça</h3>
                <div class="container-about-me">
                    <p>Sou um Desenvolvedor Web Front-end, confira alguns dos meus trabalhos na seção de Projetos.</p>
                    <p>Atualmente faço o curso de Sistemas de Informação e estou no 3º período.</p>
                    <p>Estou aberto a oportunidades de trabalho. Sinta-se livre para contarcta-me</p>
                    <a href="./#contact" class="button">contato</a>
                </div>
            </article>
            <article class="skills-container">
                <h3 class="sub-title">minhas habilidades</h3> <br>
                <div class="skills">
                    <span class="skill">HTML5</span>
                    <span class="skill">CSS3</span>
                    <span class="skill">JavaScript</span>
                    <span class="skill">GIT</span>
                    <span class="skill">GitHub</span>
                    <span class="skill">TypeScript</span>
                    <span class="skill">Angular</span>
                    <span class="skill">SQL Oracle</span>
                </div>
            </article>
        </section>
    </section>
</main>