@import '../../../../../dist/scss/variables.scss';
@import '../../../../../dist/scss/class.scss';

* {
    font-family: $font-family;
}

.title {
    text-align: center;
    color: $font-primary-color;

    text-transform: uppercase;
}

.div-button {
    margin-top: 15px;
    text-align: center;
    & a {
        text-decoration: none;
        color: $font-tertiary-color;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;

    margin: 70px 20px;
    height: 100vh;

    justify-content: space-between;

    color: $font-primary-color;

    & .sub-title{
        text-transform: uppercase;
        color: #000;

        margin-bottom: 20px;
    }
}

.container-about-me {
    line-height: 1.6em;

    color: $font-primary-color;

    & .button {
        display: block;
        text-decoration: none;
        margin-top: 10px;
        width: 80px;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;

    & .skill {
        font-size: 1em;
        font-weight: 600;
        
        background-color: rgba(153,153,153,.2);
        color: $font-primary-color;
        
        padding: 10px 7px;
        margin: 0 7px 7px 0;
    
        border-radius: 3px;
    }
}

@media (max-width: 580px) {
    .lower-container {
        display: block;
        & > .about-me {
            margin-bottom: 70px;
        }
    }
}