<main id="about" class="container_main">
        <h1 class="title_main">sobre mim</h1>
        <div class="divider"></div>
        <span class="describe">{{describe}}</span>
        <section class="container">
            <article class="about-me">
                <h3 class="sub-title">me conheça</h3>
                <div class="container-about-me">
                    <p>Sou um Desenvolvedor Web Front-end, focado no framework Angular. Confira alguns dos meus trabalhos mais legais na seção de Projetos.</p>
                    <p *ngIf="!graduated">Atualmente faço o curso de Sistemas de Informação e estou no {{period}}º período.</p>
                    <p *ngIf="graduated">Sou formado em Sistemas de Informação desde o ano de {{yearGraduated}}</p>
                    <p>Meu primeiro contato com programação foi ainda no ensino médio, onde comecei a estudar lógica de programação. Um pouco antes de iniciar a faculdade já havia notado que era com isso que gostaria de trabalhar, e então comecei a focar bastante nos estudos em front-end.</p>
                    <p>{{currentGoal}}</p>
                    <p>Estou aberto a oportunidades de trabalho. Sinta-se livre para contarcta-me</p>
                    <a href="./#contact" class="button">contato</a>
                </div>
            </article>
            <article class="skills-container">
                <h3 class="sub-title">minhas habilidades</h3> <br>
                <div class="skills">
                    <span class="skill" *ngFor="let skill of skills">
                        {{skill}}
                    </span>
                </div>
            </article>
        </section>
</main>